<!DOCTYPE html>
<html>

<head>
    <!-- Socket Dependencies -->
    <script type="text/javascript" src="https://kit.fontawesome.com/d85a36b1b9.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/content.css" />

    <title>Core Inc. - Algoritmos Animados</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <button id="navbar-button">🞬</button>
        <ul>
            <li>
                <a href="/documentation">
                    Documentação
                </a>
            </li>
            <li>
                <a href="/how-to-use">
                    Como Usar
                </a>
            </li>
            <li>
                <a href="/">
                    Início
                </a>
            </li>
            <li>
                <a href="/for-devs">
                    Para Desenvolvedores
                </a>
            </li>
            <li>
                <a class="active" href="/about">
                    Sobre
                </a>
            </li>
        </ul>
    </nav>
    <!-- Banner -->
    <section id="banner">
        <div id="phrase">Crie códigos, histórias, animações e
            entenda como seus algoritmos funcionam.
        </div>
        <video autoplay muted loop playsinline>
            <source src="/images/logo.webm" type="video/webm" />
        </video>
        <div id="video-button"></div>

    </section>

    <!-- Main Compiler + Core Inc -->
    <div id="main-content">
        <h1 id="title">Sobre</h1>
        <div class="content">
            <p></p>
            <p> <b>Autor:</b> </p>
            <p> <b>Orientador:</b> </p>
            <h1 id="title">Contato</h1>
            <p><i class="fas fa-envelope"></i> <b>E-mail:</b> </p>
            <p><i class="fab fa-twitter"></i> <b>Twitter:</b> <a href="" target="_blank"></a> </p>
            <img id="ufpr" src="" alt=""/>
        </div>
    </div>

</body>

</html>
