<!DOCTYPE html>
<html>

<head>
    <!-- Socket Dependencies -->
    <script type="text/javascript" src="https://kit.fontawesome.com/d85a36b1b9.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/content.css" />

    <title>Core Inc. - Algoritmos Animados</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <button id="navbar-button">游뤏</button>
        <ul>
            <li>
                <a href="/documentation">
                    Documenta칞칚o
                </a>
            </li>
            <li>
                <a href="/how-to-use">
                    Como Usar
                </a>
            </li>
            <li>
                <a href="/">
                    In칤cio
                </a>
            </li>
            <li>
                <a href="/for-devs">
                    Para Desenvolvedores
                </a>
            </li>
            <li>
                <a class="active" href="/about">
                    Sobre
                </a>
            </li>
        </ul>
    </nav>
    <!-- Banner -->
    <section id="banner">
        <div id="phrase">Crie c칩digos, hist칩rias, anima칞칫es e
            entenda como seus algoritmos funcionam.
        </div>
        <video autoplay muted loop playsinline>
            <source src="/images/logo.webm" type="video/webm" />
        </video>
        <div id="video-button"></div>

    </section>

    <!-- Main Compiler + Core Inc -->
    <div id="main-content">
        <h1 id="title">Sobre</h1>
        <div class="content">
            <p>O Core Inc foi desenvolvido como disserta칞칚o de mestrado durante o Programa de P칩s Gradua칞칚o em Inform치tica (PPGINF) da Universidade Federal do Paran치 (UFPR).</p>
            <p> <b>Autor:</b> Vinicius Struginski Pereira</p>
            <p> <b>Orientador:</b> Marcos Castilho</p>
            <h1 id="title">Contato</h1>
            <p><i class="fas fa-envelope"></i> <b>E-mail:</b> struginskipereira14@hotmail.com</p>
            <p><i class="fab fa-twitter"></i> <b>Twitter:</b> <a href="https://twitter.com/npcvinicius" target="_blank">https://twitter.com/npcvinicius</a> </p>
            <img id="ufpr" src="/images/logo_ufpr_branca.png" alt="ufpr"/>
        </div>
    </div>

</body>

</html>