<!DOCTYPE html>
<html>

<head>
    <!-- Socket Dependencies -->
    <script type="text/javascript" src="https://kit.fontawesome.com/d85a36b1b9.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/content.css" />

    <title>Core Inc. - Algoritmos Animados</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <button id="navbar-button">🞬</button>
        <ul>
            <li>
                <a href="/documentation">
                    Documentação
                </a>
            </li>
            <li>
                <a href="/how-to-use">
                    Como Usar
                </a>
            </li>
            <li>
                <a href="/">
                    Início
                </a>
            </li>
            <li>
                <a class="active" href="/for-devs">
                    Para Desenvolvedores
                </a>
            </li>
            <li>
                <a href="/about">
                    Sobre
                </a>
            </li>
        </ul>
    </nav>
    <!-- Banner -->
    <section id="banner">
        <div id="phrase">Crie códigos, histórias, animações e
            entenda como seus algoritmos funcionam.
        </div>
        <video autoplay muted loop playsinline>
            <source src="/images/logo.webm" type="video/webm" />
        </video>
        <div id="video-button"></div>

    </section>

    <!-- Main Compiler + Core Inc -->
    <div id="main-content">
        <h1 id="title">Para Desenvovledores</h1>
        <div class="content">
            <p>O módulo de animação do Core Inc. está disponível para uso e modificações em seu repositório.</p>
            <p><b>Atenção:</b> O Core Inc. corresponde somente ao módulo de animação, o tratamento do código é essencial para que os dados sejam passados de forma correta ao módulo de animação. Mais informações estão disponíveis no resposítório do Core Inc em: </p>
        </div>
    </div>

</body>

</html>