<!DOCTYPE html>
<html>

<head>
    <!-- Socket Dependencies -->
    <script type="text/javascript" src="https://kit.fontawesome.com/d85a36b1b9.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/content.css" />

    <title>Core Inc. - Algoritmos Animados</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <button id="navbar-button">🞬</button>
        <ul>
            <li>
                <a href="/documentation">
                    Documentação
                </a>
            </li>
            <li>
                <a class="active" href="/how-to-use">
                    Como Usar
                </a>
            </li>
            <li>
                <a href="/">
                    Início
                </a>
            </li>
            <li>
                <a href="/for-devs">
                    Para Desenvolvedores
                </a>
            </li>
            <li>
                <a href="/about">
                    Sobre
                </a>
            </li>
        </ul>
    </nav>
    <!-- Banner -->
    <section id="banner">
        <div id="phrase">Crie códigos, histórias, animações e
            entenda como seus algoritmos funcionam.
        </div>
        <video autoplay muted loop playsinline>
            <source src="/images/logo.webm" type="video/webm" />
        </video>
        <div id="video-button"></div>

    </section>

    <!-- Main Compiler + Core Inc -->
    <div id="main-content">
        <h1 id="title">Como Usar</h1>
        <div class="content">
            <p>O Core Inc é um ambiente capaz de animar algoritmos em Pascal baseado na Arquitetura de Von Neumann.</p>
            <p>Para utilizá-lo, basta:</p>
            <ol>
                <li>
                    Inserir o código no campo de texto na página Inicial.
                </li>
                <li>
                    Inserir as entradas de dados necessárias, caso existam.
                </li>
                <li>
                    Pressionar o botão Executar.
                </li>
                
                <li>
                    Assistir a animação!
                    <ul>
                        <li>
                            Também é possível passar o mouse sobre a animação para pausá-la e obter mais informações sobre os elementos na tela.
                        </li>
                    </ul>
                </li>
            </ol>
            <p>Os comandos básicos suportados pelo Core Inc. são limitados, sendo estes:</p>
            <ol>
                <li>
                    program “nome_do_programa”
                </li>
                <li>
                    Controle de Fluxo
                    <ul>
                        <li>
                            if then else
                        </li>
                    </ul>
                </li>
                <li>
                    Declaração
                    <ul>
                        <li>
                            const
                        </li>
                        <li>
                            var
                        </li>
                    </ul>
                </li>
                <li>
                    Entrada de Dados
                    <ul>
                        <li>
                            read
                        </li>
                        <li>
                            readln
                        </li>
                    </ul>
                </li>
                <li>
                    Saída de Dados
                    <ul>
                        <li>
                            write
                        </li>
                        <li>
                            writeln
                        </li>
                    </ul>
                </li>
                <li>
                    Expressões Aritméticas
                </li>
                <li>
                    Operadores Lógicos
                </li>
            </ol>
        </div>
    </div>

</body>

</html>